.end-game-popup {
  max-width: 500px;
  width: 100%;
  height: 300px;
  background-color: #121212;
  flex-direction: column;
  border: 3px solid transparent;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 0px transparent;

  &__text {
    font-size: 50px;
    margin-bottom: 40px;
  }

  &__btn {
    position: absolute;
    bottom: 20px;
  }
}

.win {
  border-color: #01a29a9f;
  color: #01a29a9f;
  box-shadow: 0px 0px 20px 0px #01a29a9f;
}

.lose {
  border-color: #b00020;
  color: #b00020;
  box-shadow: 0px 0px 20px 0px #b00020;
}

.draw {
  border-color: #ccc;
  color: #ccc;
  box-shadow: 0px 0px 20px 0px #ccc;
}

@media (max-width: 576px) {
  .end-game-popup {
    max-width: calc(100% - 80px);
    height: 30vh;
    padding: 0 20px;

    &__btn {
      width: 100%;
      max-width: 60%;
    }
  }
}
